<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <h1>Family Trip Expenses</h1>
        <a href="{{ url_for('tripSelection') }}">
            <button type="button" class="btn btn-large">Create New Expense</button>
        </a>

        <a href="{{ url_for('viewExpense') }}">
            <button type="button" class="btn btn-large">View Expenses</button>
        </a>
    </div>
</body>

</html>