<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Error Msg -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <h1>Trips</h1>

        <!-- 新增旅遊表單 -->
        <form method="POST" class="form-box" id="trip-form">
            <label>Trip Name</label>
            <input type="text" name="trip_name" class="input-field"
                placeholder="New Trip Name" required>
                
            <label>Start Date</label>
            <input type="date" name="start_date" class="input-field" required>

            <label>End Date</label>
            <input type="date" name="end_date" class="input-field" required>
           
            <button type="submit" class="btn btn-large">Add New Trip</button>
        </form>

        <!-- 顯示旅遊列表 -->
        <ul class="expense-list">
            {% for trip in trips %}
            <li class="trip-item">
                <div class="trip-info">
                    <span class="trip-name">{{ trip[1] }}</span>
                    <span class="start_date">{{ trip[2] }}</span>
                    <span class="end_date">{{ trip[3] }}</span>
                </div>

                <div class="trip-buttons">
                    <a href="{{ url_for('newExpense', trip_id=trip[0]) }}">
                        <button type="button" class="btn btn-go">Add New Expense</button>
                    </a>

                    <button type="button" class="btn btn-delete" 
                            data-id="{{ trip[0] }}" 
                            data-name="{{ trip[1] }}">
                        Delete
                    </button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">
            <button type="button" class="btn btn-large">Back to Home</button>
        </a>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <p id="modal-text">Are you sure you want to delete this trip?</p>
            <form id="deleteForm" method="POST" action="">
                <button type="submit" class="btn btn-confirm-delete" id="confirmDelete">Yes, Delete</button>
                <button type="button" class="btn" onclick="closeDeleteModal()">Cancel</button>
            </form>

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/deleteTrip.js') }}"></script>
</body>

</html>